.feriado::placeholder{
    font-size: 15px;
}

.hr-f{
   background-color: black;
   color: black;
}
.tr-f{
    border-top: 2px solid #0047a0;
}
.tables{
    margin-top: 10px;
}
.btn-f{
    transition: 0.5s;
    margin-top: 10px;
}
.escondido{
    display: none;
    }

.selecte{
    margin-top: 15px;
}
.perman{
    color: rgb(0, 195, 0);
    font-size: 17px;
}

.perman-close{
    color: rgb(220, 0, 0);
    font-size: 23px;
}
td{
    padding: 10px;
}