.box-historico{
  margin-top: 5%;
  color: var(--text-cor);
  padding: 20px;
  width: 100%;
}

#mes{
  font-weight: bold;
  border: none;
  justify-content: left;
  width: 150px;
  cursor: pointer;
}

#ano{
  font-weight: bold;
  border: none;
  justify-content: left;
  width: 150px;
  cursor: pointer;
}


.tabela {
  background-color: #0157c9;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

th, td {
  padding: 16px 24px;
  text-align: center;
}

th {
  background-color: #0047a0;
  font-size: 18px;
}

td {
  background-color: #0163e1;
  font-size: 16px;
}

.tabela tbody tr:hover{
  background-color: #003b89;
}

tr, th {
  border-bottom: 1px solid #003b89;
}


