.box-info{
  width: 100px;
  background-color: beige;
}
.summary-cards > div {
  background-color: #1d4e89;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-align: center;
  flex-grow: 1;
}

.carregar-dados-funcionarios{
  font-size: 20px;
  color: white;
}

.pdf{
  display: flex;
  font-size: 18px;
  gap: 5px;
}
.col-pdf{
  margin-left: 50px;
}
.icon-h{
  display: flex;
  align-items: center;
  font-size: 20px;
}