.date{
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  justify-self: right;
  margin-top: 5%;
  border-radius: 30px;
  background-color: #0052cc;
  color: var(--text-cor);
  font-style: italic;
  font-size: 15px;
}


.box-home{
  margin-top: 5%;
  color: var(--text-cor);
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  background-color: #0052cc;
  padding: 5px;
  padding-left: 10px;
  width: 500px;
  transition: 0.5s;
}

.checkHoras{
  color: rgb(2, 195, 2);
  font-size: 18px;
}

.wait{
  color: rgb(247, 247, 2);
  font-size: 15px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.box-home:hover{
  width: 510px;
  padding: 15px;
  cursor: pointer;
  background-color: #0241a1;
  transition: 0.5s;
}

.nome{
  margin-top: 5%;
  font-size: 22px;
}

.caixa{
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.body{
  display: flex;
  gap: 50px;
  padding: 10px;
  padding-left: 10px;
}

.avatar{
  margin-top: -2%;
  font-size: 60px;
}

.head{
  display: flex;
  
}


@media (max-width: 540px) {
  .body{
    gap: 30px;
    font-size: 15px;
  }
  .head{
    width: 100%;
    gap: 10px;
  }
  .box-home{
    width: 350px;
  }
  .nome{
    font-size: 18px;
  }
  .avatar{
    font-size: 55px;
  }

  .box-home:hover{
    width: 310px;
    padding: 15px;
    cursor: pointer;
    background-color: #0241a1;
    transition: 0.5s;
  }
}


  