.navbar{
  background-color: var(--primeira-cor);
}

.navbar-logo{
  padding-left: 10px;
  color: var(--text-cor);
  font-weight: bold;
  font-size: 30px;
}

.navbar-toggler{
  margin-right: 10px;
  color: white;
  border: 1px solid white;
}

.navbar-toggler:focus{
  border: none;
}

ul{
  gap: 10px;
}

.menu{
  color: white;
}

.nav-link{
  border-bottom: 1px solid transparent;
  opacity: 0.5;
  transition: 0.3s;
  color: var(--text-cor);
  font-weight: bold;
}

.nav-link.ativo{
  color: var(--text-cor);
  border-bottom: 1px solid #ffffff;
  opacity: 1;
  transition: 0.3s;
}

.nav-link:hover{
  border-bottom: 1px solid #ffffff;
  opacity: 1;
  color: var(--text-cor);
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 993px) {
  .nav-link:hover{
    border-bottom: none;
  }
  .nav-link{
    border-bottom: none;
  }

  ul{
    gap: 3px;
  }

  li{
    text-align: center;
  }
  .navbar-collapse {
    background-color: #003f91; /* azul mais escuro */
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
  }
}

.navbar-logo{

  span{
    display: inline-block;
    animation: bounce 1s ease;
  }
  
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}




