
.loading {
   height: 100vh;
  display: flex;
  flex-direction: column;   /* coloca uma div embaixo da outra */
  justify-content: center;  /* centraliza verticalmente */
  align-items: center;      /* centraliza horizontalmente */
  gap: 10px; 
}

.text-loading{
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
}

.spinner {
  z-index: 1;
  margin-top: 5%;
  width: 100px;
  height: 100px;
  border: 7px solid #ccc;
  border-top: 7px solid #0066ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}