.box-horarios{
    margin-top: 5%;
    color: var(--text-cor);
    border-radius: 10px;
    z-index: 1;
    padding: 10px 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    background-color: #0052cc;
    width: 700px;
    transition: background-color 0.2s ease;
}

.anime-bg{
    background: linear-gradient(90deg, #0050b3, #007bff, #0050b3);
    background-size: 200% 100%;
    animation: move-bg 1s linear infinite;
}

@keyframes move-bg {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.head{
    font-size: 18px;
    border-bottom: 1px solid white;
    gap: 20px;
    
}
.botao-adicionar{
   background-color: white;
  color: #0057ff; /* Azul vibrante */
  border: 2px solid #0057ff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s ease;
}

.botao-adicionar:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #0057ff;
    color: white;
}

.sub{
    cursor: pointer;
    opacity: 0.5;
    padding: 3px 9px;
    border-bottom: 1px solid transparent;
}

.sub:hover{
    opacity: 1;
}

.form-label{
    font-weight: 600;
}

.selecionado{
    color: #0052cc;
    background-color: white;
    padding: 3px 9px;
    border-radius: 10px 10px 0px 0px;
    transition: 0.7s;
    opacity: 1;
}

.horarios-linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.linha{
    display: flex;
    gap: 30px;
}

.funcionarios{
    background-color: #0048b3a9;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.funcionarios:hover{
    transition: 0.5s;
    transform: scale(1.03);
    background-color: #0047b3;
}


.select{
    transition: 0.5s;
    transform: scale(1.03);
    background-color: #0047b3;
}


.check{
    cursor: pointer;
    align-self: center;
    width: 25px;
    height: 25px;
}

.body-horarios, .body-ferias{
    margin-top: 20px;
    padding: 2px;
}


.func-selecionado{
    margin-right: 10px;
    background-color: #00c853;  /* verde moderno */
    color: white;
    padding: 4px 7px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    margin-left: auto;
}

.icone-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-container {
    position: relative;
}

.search-input {
    background-color: transparent;
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.595);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}