.box-registro-funcionario{
    margin-top: 5%;
    color: var(--text-cor);
    border-radius: 10px;
    z-index: 1;
    padding: 10px 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    background-color: #0052cc;
    width: 600px;
    transition: background-color 0.2s ease;
}

.select-registro{
    width: 100%;
}

.registro-linha{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.icone-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-container {
    position: relative;
}

.search-input {
    background-color: transparent;
    height: 50px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.595);
}

.search-input:focus{
    background-color: rgba(255, 255, 255, 0.309);
}

.linha-registro{
    display: flex;
    justify-content: left;
    gap: 20px;
}

.nome-registro{
    width: 400px;
}

.editar{
    width: 260px;
}

.search-icon {
    font-size: 23px;
    position: absolute;
    top: 45%;
    left: 13px;
    transform: translateY(-50%);
    color: #ffffff;
}